
.product-card:hover .dropdown-menu {
  display: block;
  animation: slideIn2 0.3s ease-in-out;
}


.product-card .dropdown-menu {
  display: none;
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out;
}

.product-card .dropdown-menu-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}


@keyframes slideIn2 {
  from {
    top: 200px;
  }
  to {
    top: 190px;
  }
}


.slider-container {
  align-items: center;
  max-width: 1420px;
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
}


.product-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px; 
}


.product-card {
  position: relative; 
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(25% - 20px);
}


.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.product-card h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}


@media screen and (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px); 
  }
}


@media screen and (max-width: 480px) {
  .product-card {
    width: 100%; 
  }
}


.product-card:hover .dropdown-menu {
  display: block;
}
