.sidebar {
  width: 320px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  /* position: relative; */
  
}
.sidebar.open {
  width: 100%;
}

.toggle-btn {
  display: none; 
}
.toggle-btn {
  
  margin-bottom: 10px;
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
}

.toggle-btn:hover {
  background-color: #0056b3; 
}

@media (max-width: 800px) {
  .toggle-btn {
    display: block;
    margin-top: -56px;
    margin-right: 50px;
  }

  .sidebar {
    height: 0;
    border: none;
    box-shadow: none;
  }

  .sidebar.open {
    height: fit-content;
  }

  .sidebar-content {
    display: none;
    background-color: #f9f9f9;
    width: min-content;
    
  }

  .sidebar.open .sidebar-content {
    display: block;
  }
}
