.profile-container {
  display: flex;
  justify-content: center; 
  padding: 20px; 
}


.order-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px; 
}


.profile-detail-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.profile-info-container {
  min-width: 400px; 
  margin: 0 auto; 
  text-align: center;
}

.profile-info-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.profile-info-container p {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 1.0rem;
}

.profile-info-container .info-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.profile-info-container img.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info-container button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-info-container button:hover {
  background-color: #0056b3;
}

.profile-photo-placeholder {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 20px;
}


.order-id {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}


.order-items {
  list-style: none;
  padding: 0;
}


.order-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product-name {
  font-weight: bold;
}


.quantity {
  color: #666;
}


@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column; 
    align-items: center; 
  }

  
 
  .profile-detail-container {
    max-width: 800px; 
  }

  .profile-info-container {
    min-width: fit-content; 
  }
}


@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .order-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .order-item {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }

  .order-item .order-id {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }

  .order-item .order-items {
    padding: 0;
  }

  .order-item .order-items li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
  }

  .order-item .order-items li:last-child {
    margin-bottom: 0; 
  }

  .order-item .product-item {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 8px; 
  }

  .order-item .product-name {
    font-weight: bold;
  }
}



/* Edit profile form css */


.edit-profile-form-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.edit-profile-form-container h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #333;
}

.edit-profile-form-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #555;
}

.edit-profile-form-container input,
.edit-profile-form-container textarea {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.edit-profile-form-container input[type="file"] {
  width: auto;
}

.edit-profile-form-container .error {
  color: #d9534f;
  margin-top: 5px;
  font-size: 1rem;
}

.edit-profile-form-container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-form-container button:hover {
  background-color: #0056b3;
}
