.color-filter-container {
  width: 20%;
  margin-right: 50px;
  top: 0px;
}

.color-filter-container h4 {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 4px;
  cursor: pointer; 
}

.color-option {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.4rem;
  padding-top: 10px;
}

.color-option label {
  flex-grow: 1;
  min-width: 150px;
}


.color-option input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.color-options {
  top: 100%;
  left: 0;
  width: 100%; 
  background-color: white;
  padding: 15px;
  
}

.color-options.open {
  display: block; 
}

@media (max-width: 800px) {
  .color-filter-container {
    z-index: 90;
    position: absolute;
    top: -28px;
    left: 160px;
    padding: 0px 10px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: white;
    width:120px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #999;
  }

  .color-options {
    position: absolute;
    display: none; 
    
  }
}
