.select-category_container {
  width: 20%;
  margin-left: 60px;
  top: 0px;
  margin-bottom: 30px;
  width: fit-content;
}

.select-category_container h4 {
  font-weight: 500;
  font-size: 1.5rem;
  width: max-content;
  letter-spacing: 1px;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 4px;
  cursor: pointer; 
}

.category-option {
  display: flex;
  flex-wrap: wrap;
}

.category-option {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.4rem;
  padding-top: 10px;
  margin-left: 20px;
}

.category-option input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.category-option label {
  flex-grow: 1;
  min-width: 150px;
}

.category-option {
  top: 100%;
  left: 0;
  width: 100%; 
  margin-top: 10px;
  
}

.graphic-card-options.open {
  display: block; 
}

/* @media (max-width: 800px) {
  .select-category_container {
      z-index: 90;
    position: absolute;
    top: -28px;
    left: 30px;
    padding: 0px 10px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #999;
    h4 {
      border-bottom: none;
      pointer-events: initial;
    }
    div {
      display: none;
      position: absolute;
      top: 130%;
      background: white;
      padding: 15px;
      gap: 10px;
      flex-direction: column;
      border: 1px solid #d3d0d0;
    }
    .category-option {
      padding-top: 0px;
    }
    div.open {
      display: flex;
    }
  }
}
@media (max-width: 550px) {
} */


.category-option.category-0 {
  color: blue;
}

.category-option.category-1 {
  color: green;
}

.category-option.category-2 {
  color: red;
}

.category-option.category-3 {
  color: orange;
}

.category-option.category-4 {
  color: purple;
}
