
.navContainer {
  display: flex;
  border-bottom: 2px solid #000000;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  background-color: #c5c4c4;
}

.wishlist-container {
  position: relative;
  display: inline-block;
}

.wishlist-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
}


.nav-magnifier {
  width: 20px;
  height: 20px;
  margin-left: -30px;
  color: #333;
  cursor: pointer;
}


.search-container {
  display: flex;
  align-items: center;
  width: 700px;
}


input {
  padding: 14px;
  border: none;
  background-size: 20px;
  border-radius: 5px;
  margin: 0 auto; 
  
}


.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: black;
}
  
  

.search-input {
  width: 0;
  padding: 8px;
  border: none;
  border-radius: 4px;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; 
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}


.search-input.open {
  width: 500px;
  opacity: 1; 
  pointer-events: auto;
}


  
  .suggestions-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    z-index: 999;
    max-height: 400px; 
    overflow-y: auto;
  }
  
  
  .suggestions-container li {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
  }
  
 
  .suggestions-container li img {
    width: 120px;
    height: 90px;
    border-radius: 5px;
    margin-right: 12px;
    transition: transform 0.3s ease-in-out;
  }
  
 
  .suggestions-container li div {
    display: flex;
    flex-direction: column;
  }
  
 
  .suggestions-container li .suggestion-name {
    font-size: 24px;
  }
  

  .suggestions-container li .suggestion-price {
    font-weight: bold;
    font-size: 15px;
    color: #777;
  }
  
  
  .suggestions-container li:hover {
    background-color: #f5f5f5; 
  }
  

  .suggestions-container li:not(:last-child) {
    margin-bottom: 8px;
  }
  
 
  .suggestions-container li:hover img {
    transform: scale(1.1);
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    }

 
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: black; 
  min-width: 200px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius: 8px; 
  color: white; 
}


.dropdown-content.show {
  display: block;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid white; 
}


.dropdown-content a:hover {
  background-color: #7e7e7e; 
}


@media screen and (max-width: 768px) {
  .search-input.open {
    width: 220px;
    margin-left: 20px; 
  }
}
