.weight-filter-container {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  .weight-filter-container h4 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .weight-filter-container select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
  }
  
  .weight-filter-container select:focus {
    border-color: #007bff;
  }
  
  .weight-filter-container option {
    font-size: 1rem;
  }
  
  